<%= render 'users/header' %>

<body>
    <%= form_with url: results_reports_path, method: :get, local: true do |form| %>
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="form-group">
                                <%= form.label :start_date, 'Start Date' %>
                                <%= form.date_field :start_date, required: true, class: 'form-control' %>
                            </div>
                            <div class="form-group">
                                <%= form.label :end_date, 'End Date' %>
                                <%= form.date_field :end_date, required: true, class: 'form-control' %>
                            </div>
                            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                <%= form.submit "Generate Report", class: "btn btn-primary mt-3" %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <% end %>
</body>
