<%= render 'users/header' %>

<div class="table-responsive custom-table-container mt-5" style="max-width: 80%; margin: auto;">
  <table class="table table-striped table-bordered">
    <% if @results.blank? %>
      <p>No records found.</p>
    <% else %>
    <thead>
      <tr>
        <th>Shipping Date</th>
        <th>Customer Account Nr</th>
        <th>Customer Order Nr</th>
        <th>Order Nr</th>
        <th>Invoice Nr</th>
        <th>Delivery Note Nr</th>
      </tr>
    </thead>

    <tbody>
      <% @results.each do |result| %>
        <tr>
          <td><%= result['ShippingDate'] %></td>
          <td><%= result['CustomerAccountNr'] %></td>
          <td><%= result['CustomerOrderNr'] %></td>
          <td><%= result['OrderNr'] %></td>
          <td><%= result['InvoiceNr']%></td>
          <td><%= result['DeliveryNoteNr']%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>