<%= render 'users/header' %>

<div class="table-responsive custom-table-container mt-5" style="max-width: 80%; margin: auto;">
  <table class="table table-striped table-bordered">
    <% if @results.blank? %>
      <p>No records found.</p>
    <% else %>
    <thead>
      <tr>
        <th>Shipping Date</th>
        <th>Customer Account Nr</th>
        <th>Customer Order Nr</th>
        <th>Order Nr</th>
        <th>Invoice Nr</th>
        <th>Delivery Note Nr</th>
      </tr>
    </thead>

    <tbody>
      <% @results.each do |result| %>
        <tr>
          <td><%= result['ShippingDate'].strftime('%d-%m-%Y') %></td>
          <td><%= result['CustomerAccountNr'] %></td>
          <td><%= result['CustomerOrderNr'] %></td>
          <td><%= result['OrderNr'] %></td>
          <td><%= result['InvoiceNr'] %></td>
          <td><%= result['DeliveryNoteNr'] %></td>
        </tr>
      <% end %>
    </tbody>
    <% end %>
  </table>


    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <% if @results.blank? == false %>
        <%= link_to 'Excel exportieren', export_reports_path(format: :xlsx, start_date: params[:start_date], end_date: params[:end_date]),  class: 'btn btn-primary'%>
      <% end %>
    </div>


  <% if @results.present? %>
    <div class="d-flex justify-content-center" style="margin-top: 20px;">
      <%= paginate @results %>
    </div>
  <% end %>
</div>

